<div class="reading">
  <div class="read">
    <div class="readTop">
      <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-12">
            <a href="..." class="card clickable">
                <div class="card-img">
                    <img 
                      src="../../../assets/yangread.png" 
                      class="yang"
                      alt="" 
                      (click)="enterRead(0, 0, 1, ar1)" 
                      #ar1>
                </div>
                <div class="card-block">
                    <p class="card-text">
                        ...
                    </p>
                </div>
            </a>
        </div>
      </div>
        <img 
          src="../../../assets/yin.png" 
          class="yin"
          alt="" 
          (click)="enterRead(0, 1, 0, i1)" 
          #i1>
    </div>
    <div class="readBottom">
        <img
					src="../../../assets/yang.png"
					class="yang"
					alt=""
          (click)="enterRead(0, 0, 0, a1)" 
          #a1>
        <img
					src="../../../assets/yinread.png"
					class="yin"
					alt=""
          (click)="enterRead(0, 1, 1, ir1)" 
          #ir1>
    </div>
  </div>
  <div class="read">
    <div class="readTop">
        <img
					src="../../../assets/yangread.png"
					class="yang"
          alt=""
          (click)="enterRead(1, 0, 1, ar2)" 
          #ar2>
        <img
					src="../../../assets/yin.png"
					class="yin"
					alt=""
					(click)="enterRead(1, 1, 0, i2)"
					#i2>
    </div>
    <div class="readBottom">
        <img
					src="../../../assets/yang.png"
					class="yang"
					alt=""
					(click)="enterRead(1, 0, 0, a2)"
					#a2>
        <img
					src="../../../assets/yinread.png"
					class="yin"
					alt=""
					(click)="enterRead(1, 1, 1, ir2)"
					#ir2>
    </div>
  </div>
  <div class="read">
    <div class="readTop">
        <img
					src="../../../assets/yangread.png"
					class="yang"
					alt=""
					(click)="enterRead(2, 0, 1, ar3)"
					#ar3>
        <img
					src="../../../assets/yin.png" height="72px" width="72px" alt="" (click)="enterRead(2, 1, 0, i3)" #i3>
    </div>
    <div class="readBottom">
        <img src="../../../assets/yang.png" height="72px" width="72px" alt="" (click)="enterRead(2, 0, 0, a3)" #a3>
        <img src="../../../assets/yinread.png" height="72px" width="72px" alt="" (click)="enterRead(2, 1, 1, ir3)" #ir3>
    </div>
  </div>
  <div class="read">
    <div class="readTop">
        <img src="../../../assets/yangread.png" height="72px" width="72px" alt="" (click)="enterRead(3, 0, 1, ar4)" #ar4>
        <img src="../../../assets/yin.png" height="72px" width="72px" alt="" (click)="enterRead(3, 1, 0, i4)" #i4>
    </div>
    <div class="readBottom">
        <img src="../../../assets/yang.png" height="72px" width="72px" alt="" (click)="enterRead(3, 0, 0, a4)" #a4>
        <img src="../../../assets/yinread.png" height="72px" width="72px" alt="" (click)="enterRead(3, 1, 1, ir4)" #ir4>
    </div>
  </div>
  <div class="read">
    <div class="readTop">
        <img src="../../../assets/yangread.png" height="72px" width="72px" alt="" (click)="enterRead(4, 0, 1, ar5)" #ar5>
        <img src="../../../assets/yin.png" height="72px" width="72px" alt="" (click)="enterRead(4, 1, 0, i4)" #i4>
    </div>
    <div class="readBottom">
        <img src="../../../assets/yang.png" height="72px" width="72px" alt="" (click)="enterRead(4, 0, 0, a5)" #a5>
        <img src="../../../assets/yinread.png" height="72px" width="72px" alt="" (click)="enterRead(4, 1, 1, ir5)" #ir5>
    </div>
  </div>
  <div class="read">
    <div class="readTop">
        <img src="../../../assets/yangread.png" height="72px" width="72px" alt="" (click)="enterRead(5, 0, 1, ar6)" #ar6>
        <img src="../../../assets/yin.png" height="72px" width="72px" alt="" (click)="enterRead(5, 1, 0, i6)" #i6>
    </div>
    <div class="readBottom">
        <img src="../../../assets/yang.png" height="72px" width="72px" alt="" (click)="enterRead(5, 0, 0, a6)" #a6>
        <img src="../../../assets/yinread.png" height="72px" width="72px" alt="" (click)="enterRead(5, 1, 1, ir6)" #ir6>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-block" (click)="read()">Get Reading</button>