.reading {
    display: grid;
    grid-gap: 20px;
    height: 400px;
    background-color: teal;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: 160px;
    .read {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 160px;
        grid-template-rows: 72px 72px;
        .readTop {
            display: grid;
            grid-gap:20px;
            grid-template-columns: 72px 72px;
        }
        .readBottom {
            display: grid;
            grid-gap:20px;
            grid-template-columns: 72px 72px;
        }
    }
}

.highlighted {
    background: #aaaaaa;
    border-radius: 20%;
}